<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
			    Track your poker sessions!
			</p>
		</div>
	</div>
	<div>
        <h2>Enter your poker sessions and you get to see some cool graphs and statistics!</h2>
        <p>Just enter some basic information about your session, like where you played, what game type,</p>
        <p>profit, buy in, limits, start and end times.</p>
        <p>You can even enter some notes about your session</p>
        <div class="row">
            <p class="lead">
                So what are you waiting for...<a ui-route='/signup' href="/#!/signup" class="btn btn-success">Sign Up</a> or
                <a ui-route="'/signin" href="#!/signin" class="btn btn-primary">Sign In</a>
            </p>
        </div>
    </div>
</section>
