.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.pokerlog-card {
    color: white;
    margin: 20px;
    border: 1px solid black;
    -webkit-box-shadow: 13px 10px 22px 0 rgba(0,0,0,0.49);
    -moz-box-shadow: 13px 10px 22px 0 rgba(0,0,0,0.49);
    box-shadow: 13px 10px 22px 0 rgba(0,0,0,0.49);
    cursor: pointer;
}

.pokerlog-winner {
    background-color: green;
}

.pokerlog-loser {
    background-color: darkred;
}
