<section data-ng-controller="PokerlogsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Your Poker Logs</h1>
    </div>

    <div>
        <a href="/#!/pokerlogs/create" class="btn btn-primary btn-default">Create Log</a>
    </div>
    <hr/>
    <div class="container">
        <poker-log pokerlog="pokerlog" data-ng-repeat="pokerlog in pokerlogs"></poker-log>
    </div>
    <pagination total-items="bigTotalItems" data-ng-model="bigCurrentPage" max-size="maxSize" class="pagination-lg"
                boundary-links="true" rotate="false" num-pages="numPages" data-ng-change="pageChanged()"
                items-per-page="itemsPerPage"></pagination>
</section>
