<section data-ng-controller="PokerlogsController" data-ng-init="findOne()">
    <h1>Details</h1>
    <hr/>
        <form class="form-horizontal" ovalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-md-2" for="location">Location</label>

                    <div class="controls col-md-10">
                        <input type="text" data-ng-model="pokerlog.location" id="location" class="form-control"
                               placeholder="Location" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="buyins">Buy ins</label>

                    <div class="controls col-md-10">
                        <input type="string" data-ng-model="pokerlog.buyins" id="buyins" class="form-control"
                               placeholder="Ex: 200 or 100,200,300" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Tournament</label>

                    <div class="controls col-md-2">
                        <input type="checkbox" data-ng-model="tournament" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="start">Start</label>
                    <div class="controls col-md-10">
                        <input id="start" type="text" data-ng-model="pokerlog.start" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="end">End</label>
                    <div class="controls col-md-10">
                        <input id="end" type="text" data-ng-model="pokerlog.end" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="gametype">Game Type</label>

                    <div class="controls col-md-10">
                        <input type="text" data-ng-model="pokerlog.gametype" id="gametype" class="form-control"
                               placeholder="Limit Holdem, Omaha, etc" readonly>
                    </div>
                </div>
                <div class="form-group" ng-hide="tournament">
                    <label class="control-label col-md-2" for="limits">Limits</label>

                    <div class="controls col-md-10">
                        <input type="text" data-ng-model="pokerlog.limits" id="limits" class="form-control"
                               placeholder="3-6,10-20,etc" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="cashout">Cash Out</label>

                    <div class="controls col-md-10">
                        <input type="number" data-ng-model="pokerlog.cashout" id="cashout" class="form-control"
                               placeholder="Dollar amount" readonly>
                    </div>
                </div>
                <div class="form-group" ng-show="tournament">
                    <label class="control-label col-md-2" for="placed">Placed</label>

                    <div class="controls col-md-10">
                        <input type="number" data-ng-model="pokerlog.placed" id="placed" class="form-control"
                               placeholder="tournament placed" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="notes">Notes</label>
                    <div class="controls col-md-10">
                        <input type="text" data-ng-model="pokerlog.notes" id="notes" class="form-control"
                               placeholder="Notes" readonly>
                    </div>
                </div>
            </fieldset>
        </form>
    <hr/>
    <div class="pull-left" data-ng-show="((authentication.user) && (authentication.user._id == pokerlog.user._id))">
        <a class="btn btn-primary" href="/#!/pokerlogs/{{pokerlog._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</section>
